@font-face {
    font-family: "BrutalType-ExtraBold";
    src: url("../assets/fonts/BrutalType-ExtraBold.eot");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BrutalType-Light";
    src: url("../assets/fonts/BrutalType-Light.eot");
    font-style: normal;
    font-weight: normal;
}