body,
ul,
p,
h2 {
	padding: 0;
	margin: 0;
	font-family: "BrutalType-Light", Arial, Sans-serif;
}

.wrapper {
	width: 1800px;
	background: linear-gradient(90deg, #eff0f1 360px, #ffffff 360px);
	display: flex;
}

.left-column {
	width: 40%;
}

.right-column {
	width: 60%;
	margin: 100px 0 0;
}

.right-column_name {
	font-size: 60px;
	color: #656f77;
	margin: 0 0 110px;
}

.right-column_name ._bold{
	font-family: "BrutalType-ExtraBold", Arial, Sans-serif;
}

.right-column_info {
	display: flex;
}

.right-column_info {
	display: flex;
}

.right-column_info_group-1 {
	display: flex;
	flex-direction: column;
}

.right-column_info_group-2 {
	display: flex;
	flex-direction: column;
}

.right-column_info a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	color: #0081bc;
}

.right-column_info h2 {
	color: #aebecb;
	font-size: 14px;
	font-weight: lighter;
}

.group_elem {
	margin: 0 0 60px;
}

.right-column_info_group-1,
.right-column_info_group-2 {
	width: 360px;
}