body {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: linear-gradient(45deg, #8e8e90, #fff);
}

.main {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.main_photo {
  width: 100%;
  border-radius: 50%;
  height: 90vw;
  background-image: url('../assets/img/main-photo.jpg');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.links {
  list-style: none;
}
